<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Image Editor</span>
</nav>
<div>
  &nbsp;
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color:#eeeeee;">
      <div>
        Tools
        <div>
          <input id="canvas_input" type="text"> 
          <button id="submit" (click)="addText();">Add text</button><br>
        </div>
      </div>
      <div style="max-height: 500px !important;   overflow-y:auto;">
        Images
        <div *ngFor="let img_obj of imageTemplates; let myIndex = index">
          <img loading="lazy" style="float: left;padding: 5px;" crossorigin="anonymous" id="img-{{img_obj.id}}" (dragstart)="onDragStart($event)" draggable="true"
            height="120" width="120" src="{{img_obj.download_url}}" />
        </div>
        <br />
      </div>
    </div>

    <div class="main-body col-md-9">
      <canvas #canvas id="canvas" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
        style="border: 1px solid black">
      </canvas>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button (click)='downloadCanvas();' type="button float-right" class="btn btn-primary">
              Download
              <!-- <a href="download" (click)='downloadCanvas();'>Download</a> -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>