<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Image Editor</span>
</nav>
<div>
    &nbsp;
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" style="border: 1px solid red;">
      <div>
        Tools
        </div>
      <div>
        Images
        <img id="img-1" (dragstart)="onDragStart($event)" draggable="true" height="200" width="200"
          src="https://picsum.photos/id/1025/4951/3301" />
        <img id="img-2" (dragstart)="onDragStart($event)" draggable="true" height="200" width="200"
          src="https://picsum.photos/id/1024/1920/1280" /> <br />
        </div>
    </div>

    <div class="main-body col-md-9">
      <canvas #canvas id="canvas" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
        style="border: 1px solid black">
      </canvas>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button (click)='downloadCanvas();' type="button float-right" class="btn btn-primary">
              Download
              <!-- <a href="download" (click)='downloadCanvas();'>Download</a> -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>